@model IEnumerable<NPCIL.Models.MenuModel>
@{
    ViewData["Title"] = "View Menu";
    }



<style>
    .status-oval {
        display: inline-block;
        padding: 5px 10px;
        border-radius: 15px;
        color: white;
        font-weight: bold;
        text-align: center;
    }

    .status-active {
        background-color: green;
    }

    .status-inactive {
        background-color: red;
    }

</style>

<div class="page-header">
    <div class="page-block">
        <div class="row align-items-center">
            <div class="col-md-6">
                <ul class="breadcrumb">
                    <li class="breadcrumb-item"><a href="../dashboard/index.html">Dashboard</a></li>
                    <li class="breadcrumb-item"><a href="javascript: void(0)">View Menu</a></li>
                </ul>
                <div class="page-header-title">
                    <h2 class="mb-0">View Menu</h2>
                </div>
            </div>
            <div class="col-md-6 text-end">
                @Html.ActionLink("Add Menu", "CMSMenuAdd", "Menu", new { id = ViewData["ParentId"] },new {@class="btn btn-primary"})
            </div>
        </div>
    </div>
</div>


<div class="row">
    <div class="col-xl-12">
        <div class="card">
            <div class="card-header">
                <h5>View Menu</h5>

            </div>
            <div class="card-body table-border-style">
                <div class="table-responsive">

                    <table id="menulTbl" class="display nowrap" style="width:100%">
                        <thead>
                            <tr>
                                <th>ID</th>
                                <th>Main Menu</th>
                                <th>Parent Menu</th>
                                <th>Menu Position</th>
                                <th>Menu Type</th>
                                @* <th>Thumbnail</th> *@
                                <th>Sub Menu</th>
                                <th>Status</th>
                                <th>Action</th>
                            </tr>
                        </thead>
                        <tbody>
                            @foreach (var man in Model)
                            {
                                <tr>
                                    <td>@man.MenuId</td>
                                     <td>@man.MenuName_eng</td>
                                    @* <td>@Html.ActionLink(@man.MenuName_eng, "AddContent", "ContentManager", new { id = @man.MenuId })</td> *@
                                    <td>
                                        <select asp-for="@man.ParentId" class="form-control" asp-items="@man.MenuOptions">
                                        </select>
                                    </td>
                                    <td>@man.MenuPosition_Name</td>
                                    <td>@man.MenuType_Name</td>
                                  <td style="text-align:center">@Html.ActionLink("", "MenusList", "Menu", new { id = @man.MenuId }, new { @class = "fa fa-plus-square", aria_hidden = "true" })</td>
                                    

                                    <td>
                                        @if (man.tabActive == "1")
                                        {
                                            <span class="status-oval status-active">Active</span>
                                        }
                                        else
                                        {
                                            <span class="status-oval status-inactive">Inactive</span>
                                        }
                                    </td>

                                    <td style="text-align:center">@Html.ActionLink("", "EditMenu", "Menu", new { id = @man.MenuId }, new { @class = "fas fa-edit", aria_hidden = "true" })</td>


                                </tr>
                            }
                        </tbody>
                    </table>
                </div>
            </div>

        </div>
    </div>
</div>

<script type="text/javascript">
    $(document).ready(function () { 
        $('#menulTbl').DataTable({
            layout: {
                topStart: {
                    buttons: ['copy', 'csv', 'excel', 'pdf', 'print']
                }
            }
        });
    });
</script>


