@model NPCIL.Models.MenuViewModel

@if (Model.Menus.Where(m => m.ParentId == Model.ParentId).ToList().Any())
{
    <ul class="main-menu__list" id="menulist">
        @foreach (var menuItem in Model.Menus.Where(m => m.ParentId == Model.ParentId).OrderBy(m => m.Sequence))
        {
            <li data-english-name="@menuItem.MenuName_eng" data-hindi-name="@menuItem.MenuName_hind">
                @if(menuItem.MenuType_Name == "Link")
                {

                           <a href = @menuItem.link_urlname.StartsWith("http", StringComparison.OrdinalIgnoreCase)
                           ? @menuItem.link_urlname
                           : $"https://{@menuItem.link_urlname}" target = "_blank"> @menuItem.MenuName_eng</a>
                }
                else
                {
                    <a asp-controller="Page" action="Index" asp-route-id="@menuItem.MenuId">@menuItem.MenuName_eng</a>
                }
                @await Html.PartialAsync("_Menu", new NPCIL.Models.MenuViewModel { Menus = Model.Menus.Where(menu => menu.ParentId == menuItem.MenuId.ToString()).OrderBy(menu => menu.Sequence).ToList(), ParentId = menuItem.MenuId.ToString() })
            </li>
        }
        @if (Model.ParentId == "0")
        {
            <li>
                <a asp-controller="Home" action="Index">Admin</a>
            </li>
        }
    </ul>
}