@{
    Layout = "_LayoutWebPage";
}
@model NPCIL.Models.HomeModel

@{
    string fileType = GetFileType(Model.Menu.ImagePath);
    
}

<div id="engMenu">
    <p>@Model.Menu.Content_MenuName_eng</p>

    @if (fileType == "image")
    {
        <img src="@Model.Menu.ImagePath" alt="@Model.Menu.MenuName_eng" />
    }
    else if (fileType == "video")
    {
        <video src="@Model.Menu.ImagePath" alt="@Model.Menu.MenuName_eng" />
    }
    else if (fileType == "pdf")
    {
        <a href="@Model.Menu.ImagePath" target="_blank">Download PDF</a>
    }
    else if (fileType == "docx")
    {
        <a href="@Model.Menu.ImagePath" target="_blank">Download Document</a>
    }
    else
    {
        <a href="@Model.Menu.ImagePath" target="_blank">Download File</a>
    }
</div>
<div id="hndMenu">
    <p>@Model.Menu.Content_MenuName_hindi</p>


    @if (fileType == "image")
    {
        <img src="@Model.Menu.ImagePath" alt="@Model.Menu.MenuName_eng" />
    }
    else if (fileType == "video")
    {
        <video src="@Model.Menu.ImagePath" alt="@Model.Menu.MenuName_eng" />
    }
    else if (fileType == "pdf")
    {
        <a href="@Model.Menu.ImagePath" target="_blank">Download PDF</a>
    }
    else if (fileType == "docx")
    {
        <a href="@Model.Menu.ImagePath" target="_blank">Download Document</a>
    }
    else
    {
        <a href="@Model.Menu.ImagePath" target="_blank">Download File</a>
    }
</div>


    @functions {
    string GetFileType(string url)
    {
        string fileType = "";

        // Check if the URL is null or empty
        if (string.IsNullOrEmpty(url))
        {
            return "unknown";
        }

        try
        {
            // Create a Uri object from the URL
            Uri uri = new Uri(url);

            // Get the file extension from the URL
            string extension = System.IO.Path.GetExtension(uri.LocalPath);

            // Determine the file type based on the file extension
            switch (extension.ToLower())
            {
                case ".jpg":
                case ".jpeg":
                case ".png":
                case ".gif":
                    fileType = "image";
                    break;
                case ".mp4":
                case ".avi":
                case ".mov":
                    fileType = "video";
                    break;
                case ".pdf":
                    fileType = "pdf";
                    break;
                case ".docx":
                    fileType = "docx";
                    break;
                default:
                    fileType = "unknown";
                    break;
            }
        }
        catch (UriFormatException)
        {
            // Handle the UriFormatException
            fileType = "unknown";
        }

        return fileType;
    }

    }
