@{
    Layout = "_LayoutWebPage";
}
@model NPCIL.Models.HomeModel

@{
    string fileType = GetFileType(Model.Menu.Imagepath2);
    string fileType2 = GetFileType(Model.Menu.Imagepath2);
    var encodedUrl = Uri.EscapeDataString(Model.Menu.Imagepath2);
}
<div id="langtoggle" class="langtoggle"></div>
<div id="engMenu">
    <div id="engMenuHeading">
        <div id="engMenuThumbnail">
            <img src="@Model.Menu.ImagePath" alt="@Model.Menu.MenuName_eng" />
        </div>
        <div id="engMenuName">
            @Model.Menu.MenuName_eng
        </div>
    </div>
    <div id="engMenuDescription">
        <p>
            @Model.Menu.MenuDesc_eng
        </p>
    </div>

    <div id="engMenuType">
        @if(Model.Menu.MenuType.ToString() == "Content")
        {
            <div id="engMenuContent">
                <div class="menuContent">
                    <p>
                        @Model.Menu.Content_MenuName_eng
                    </p>
                    </div>
            </div>
        }
        else if (Model.Menu.MenuType.ToString() == "File" || Model.Menu.MenuType.ToString() == "Image" || Model.Menu.MenuType.ToString() == "Video")
        {
            @if (fileType == "image")
            {
                <div>
                    <img src="@Model.Menu.Imagepath2" alt="@Model.Menu.MenuName_eng" />
                    <br />
                </div>
            }
            else if (fileType == "video")
            {
                <div>
                    <video controls>
                        <source src="@Model.Menu.Imagepath2" type="video/mp4">
                        Your browser does not support the video tag.
                    </video>
                    <br />
                </div>
            }
            else if (fileType == "pdf")
            {
                <div>
                    <iframe src="@Model.Menu.Imagepath2" style="width:100%; height:600px;" frameborder="0"></iframe>
                    <br />
                    <a href="javascript:void(0)" onclick="printPDF('@Model.Menu.Imagepath2')">Print PDF</a>
                </div>
            }
            else if (fileType == "docx")
            {
                <div>
                    <iframe src="https://view.officeapps.live.com/op/embed.aspx?src=@Uri.EscapeDataString(Model.Menu.Imagepath2)" style="width:100%; height:600px;" frameborder="0"></iframe>
                    <br />
                    <a href="@Model.Menu.Imagepath2" download>Download Document</a>
                </div>
            }
            else
            {
                <div>
                    <iframe src="@Model.Menu.Imagepath2" style="width:100%; height:600px;" frameborder="0"></iframe>
                    <br />
                    <a href="@Model.Menu.Imagepath2" download>Download File</a>
                </div>
            }
            
        }
        else if (Model.Menu.MenuType.ToString() == "Link")
        {
            <a href="@Model.Menu.link_urlname"></a>
        }
        else if (Model.Menu.MenuType.ToString() == "Custom Page")
        {
            
        }
        else if (Model.Menu.MenuType.ToString() == "Event")
        {
            @Model.Menu.event_year
        }
    </div>   
</div>

<div id="hndMenu">
    <div id="hndMenuHeading">
        <div id="hndMenuThumbnail">
            <img src="@Model.Menu.ImagePath" alt="@Model.Menu.ImagePath" />
        </div>
        <div id="hndMenuName">
            @Model.Menu.MenuName_hind
        </div>
    </div>
    <div id="hndMenuDescription">
        <p>
            @Model.Menu.MenuDesc_hind
        </p>
    </div>

    <div id="hndMenuType">
        @if (Model.Menu.MenuType.ToString() == "Content")
        {
            <div id="hndMenuContent">
                <div class="menuContent">
                    <p>
                        @Model.Menu.Content_MenuName_eng
                    </p>
                </div>
            </div>
        }
        else if (Model.Menu.MenuType.ToString() == "File" || Model.Menu.MenuType.ToString() == "Image" || Model.Menu.MenuType.ToString() == "Video")
        {
            @if (fileType == "image")
            {
                <div>
                    <img src="@Model.Menu.Imagepath2" alt="@Model.Menu.MenuName_eng" />
                    <br />
                </div>
            }
            else if (fileType == "video")
            {
                <div>
                    <video controls>
                        <source src="@Model.Menu.Imagepath2" type="video/mp4">
                        Your browser does not support the video tag.
                    </video>
                    <br />
                </div>
            }
            else if (fileType == "pdf")
            {
                <div>
                    <iframe src="@Model.Menu.Imagepath2" style="width:100%; height:600px;" frameborder="0"></iframe>
                    <br />
                    <a href="javascript:void(0)" onclick="printPDF('@Model.Menu.Imagepath2')">Print PDF</a>
                </div>
            }
            else if (fileType == "docx")
            {
                <div>
                    <iframe src="https://view.officeapps.live.com/op/embed.aspx?src=@Uri.EscapeDataString(Model.Menu.Imagepath2)" style="width:100%; height:600px;" frameborder="0"></iframe>
                    <br />
                    <a href="@Model.Menu.Imagepath2" download>Download Document</a>
                </div>
            }
            else
            {
                <div>
                    <iframe src="@Model.Menu.Imagepath2" style="width:100%; height:600px;" frameborder="0"></iframe>
                    <br />
                    <a href="@Model.Menu.Imagepath2" download>Download File</a>
                </div>
            }

        }
        else if (Model.Menu.MenuType.ToString() == "Link")
        {
            <a href="@Model.Menu.link_urlname"></a>
        }
        else if (Model.Menu.MenuType.ToString() == "Custom Page")
        {

        }
        else if (Model.Menu.MenuType.ToString() == "Event")
        {
            @Model.Menu.event_year
        }
    </div>
</div>

@functions {
    string GetFileType(string url)
    {
        if (string.IsNullOrEmpty(url))
        {
            return "unknown";
        }

        try
        {
            string absoluteUrl = new Uri(new Uri("https://example.com"), url).ToString();
            Uri uri = new Uri(Uri.UnescapeDataString(absoluteUrl));
            string extension = System.IO.Path.GetExtension(uri.LocalPath);

            switch (extension.ToLower())
            {
                case ".jpg":
                case ".jpeg":
                case ".png":
                case ".gif":
                    return "image";
                case ".mp4":
                case ".avi":
                case ".mov":
                    return "video";
                case ".pdf":
                    return "pdf";
                case ".docx":
                    return "docx";
                default:
                    return "unknown";
            }
        }
        catch (UriFormatException)
        {
            return "unknown";
        }
    }
}

<script>
    function printImage(src) {
        var printWindow = window.open(src, '_blank');
        printWindow.onload = function () {
            printWindow.print();
        };
    }

    function printPDF(src) {
        var printWindow = window.open(src, '_blank');
        printWindow.onload = function () {
            printWindow.print();
        };
    }
</script>
